@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
  font-family: Roboto;
  margin: 0 5rem;
  min-width: 500px;
}

form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 16px;
  margin: 0.5rem 0;
}

.numberForm {
  border: 0.15rem solid black;
  padding: 0.3rem 0.5rem;
}

form button {
  padding: 0.2rem 0.5rem;
}

.sortForm {
}

.sortForm label input {
  width: 3rem;
  padding: 0.2rem 0;
  text-align: end;
}

.numberShowcase h2 {
  margin: 0.8rem;
}

.numberShowcase ul {
  background-color: rgba(200, 200, 200, 0.479);
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  gap: 1rem;
  margin: 0 1rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}
